[submodule "submodules/gifenc"]
	path = submodules/gifenc
	url = https://github.com/lecram/gifenc.git
[submodule "submodules/bx"]
	path = submodules/bx
	url = https://github.com/bkaradzic/bx.git
[submodule "submodules/miniz"]
	path = submodules/miniz
	url = https://github.com/richgel999/miniz.git
[submodule "submodules/enkiTS"]
	path = submodules/enkiTS
	url = git@github.com:dougbinks/enkiTS.git
[submodule "submodules\\enkiTS"]
	url = https://github.com/dougbinks/enkiTS.git
[submodule "submodules/sandbox"]
	path = submodules/sandbox
	url = https://github.com/melax/sandbox.git
